<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.mapper.TeacherMapper">

<select  id = "getClasses" parameterType="int" resultMap="getClassesMap">
  select * from  class c,teacher t where t.teacher_id=c.id and c.ic=#{id}
</select>

<resultMap type="mybatis.mapper.Teacher" id="getClassesMap"></resultMap>

</mapper>
